<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/static/css/about.css">

</head>
<body>
    <header class="header">
        <a href="#" class="logo">
            Portfolio
        </a>
        <i class="bx bx-menu" id="menu-icon"></i>

        <nav class="navbar">
            <a href="/templates/index.html#home" class="active">Home</a>
            <a href="/templates/index.html#about">About</a>
            <a href="/templates/index.html#services">Services</a>
            <a href="/templates/index.html#portfolio">Portfolio</a>
            <a href="/templates/index.html#contact">Contact</a>
        </nav>
    </header>
    <section class="main-container">
        <div class="container">
            <div class="slide">
                <div class="item" style="background-image: url(/static/images/about-images1.jpg);">
                    <div class="content">
                        <div class="name"><span>Internship</span></div>
                        <h3 class="des">
                            Completed a Full-Stack Software Engineer internship at Autumn Global Outsourcing Inc. (September–November 2025), 
                            contributing to the maintenance of a multi-client Document Management System and employee scheduling platforms. 
                            Developed responsive front-end applications tailored to client specifications, 
                            collaborated using Git and GitHub, and successfully deployed web projects through Vercel.
                        </h3>
                    </div>
                </div>

                <div class="item" style="background-image: url(/static/images/about-image2.jpg);"></div>

                <div class="item" style="background-image: url(/static/images/about-images4.jpg);">
                    <div class="content">
                        <div class="name"><span>Education</span></div>
                        <h3 class="des">
                            BS Information Technology graduate (2026), <span>Cum Laude</span>. 
                            A dedicated graduate who consistently strived for excellence among peers. 
                            Demonstrated strong leadership skills, built meaningful connections, and actively contributed to academic and organizational growth throughout college.
                        </h3>
                    </div>
                </div>

                <div class="item" style="background-image: url(/static/images/about-image3.jpg);">
                    <div class="content">
                        <div class="name"><span>School Events</span> & <span>Workshops</span></div>
                        <h3 class="des">
                            Served as a student organization officer, leading programming workshops and technical events that fostered collaboration, leadership, and hands-on learning. 
                            Participated in Robothinks, a school-hosted robotics event, and was honored as a <span>Leadership Awardee</span> in recognition of my dedication, initiative, and contributions to student-led activities.
                        </h3>
                    </div>
                </div>
            </div>

            <div class="button">
                <button class="prev">
                    <i class="bx bx-chevron-left"></i>
                </button>
                <button class="next">
                    <i class="bx bx-chevron-right"></i>
                </button>
            </div>
        </div>
    </section>
    <script src="/static/js/about-script.js"></script>
    <script src="/static/js/script.js"></script>
</body>
</html>