<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header class="header">
        <a href="#" class="logo">
            Portfolio
        </a>

        <i class="bx bx-menu" id="menu-icon"></i>

        <nav class="navbar">
            <a href="#home" class="active">Home</a>
            <a href="#about">About</a>
            <a href="#services">Services</a>
            <a href="#portfolio">Portfolio</a>
            <a href="#contact">Contact</a>
        </nav>
    </header>

    <!-- home section design -->
     <section class="home" id="home">
        <div class="home-content">
            <h3>Hello, It's Me</h3>
            <h1>Shervie James Astor</h1>
            <h3>And I'm a <span class="multiple-text"></span></h3>
            <div class="social-media">
                <a href="#"><i class="bx bxl-facebook"></i></a> 
                <a href="#"><i class="bx bxl-github"></i></a> 
                <a href="#"><i class="bx bxl-linkedin"></i></a>
            </div>
            <a href="#" class="btn">Download CV</a>
        </div>
        <div class="home-img">
            <img src="/static/images/profile-image2.png">
        </div>
     </section>

    <!-- about section design -->
    <section class="about" id="about">
    <div class="about-img">
        <img src="/static/images/about-image2.jpg">
    </div>
    <div class="about-content">
        <h2 class="heading">About <span>Me!</span></h2>
        <div class="history">
            <div class="educ-container">
                <div class="awards">
                    <i class="bx bxs-graduation educ-icon"></i>
                    <h3>Education</h3>
                    <p class="abt-text-highlight">
                        Bachelor of Science in Information Technology <br>
                        <span>Cum laude</span> & <span>Leadership Awardee</span>
                    </p>
                </div>
                <p>
                    Cum Laude graduate of BS Information Technology from ICCT Colleges with hands-on internship experience in real-world development. 
                    Former student organization officer who led programming workshops and technical initiatives. 
                    Passionate about full-stack development, I build practical and scalable solutions to real-world problems and am eager to grow as a developer while contributing to innovative projects.
                </p>
                <a href="/templates/about.html" class="btn">Read More</a>
            </div>
        </div>
    </div>
    </section>

    <!-- services section design -->
    <section class="services" id="services">
        <h2 class="heading">
            <span>Services</span>
        </h2>
        <div class="services-container">
            <div class="services-box">
                <i class="bx bx-code-alt"></i>
                <h3>Web Developer</h3>
                <p>Full-Stack Developer specializing in Python (Flask) and Jinja, building dynamic, scalable, and database-driven web applications.</p>
                <a href="#portfolio" class="btn">Go To Latest Projects</a>
            </div>
            <div class="services-box">
                <i class="bx bx-server"></i>
                <h3>Networking</h3>
                <p>Completed Cisco CCNA courses in networking fundamentals, routing, switching, and wireless essentials. Experienced in subnetting, VLAN configuration, and network simulation using Packet Tracer.</p>
                <a href="#portfolio" class="btn">Go To Latest Projects</a>
            </div>
        </div>
    </section>

    <!-- portfolio section design -->
    <section class="portfolio" id="portfolio">
        <h2 class="heading">Latest <span>Project</span></h2>

        <div class="portfolio-container">
            <!-- put images of the projects here -->
            <div class="portfolio-box">
                <img src="/static/images/profile-image.png" alt="">
                <div class="portfolio-layer">
                    <h4>Web Design</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor</p>
                    <div class="project-link">
                        <a href="#">Github <i class="bx bxl-github"></i></a>
                        <a href="#">Live Demo <i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>

            <div class="portfolio-box">
                <img src="/static/images/profile-image.png" alt="">
                <div class="portfolio-layer">
                    <h4>Web Design</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor</p>
                    <div class="project-link">
                        <a href="#">Github <i class="bx bxl-github"></i></a>
                        <a href="#">Live Demo <i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>
            
            <div class="portfolio-box">
                <img src="/static/images/profile-image.png" alt="">
                <div class="portfolio-layer">
                    <h4>Web Design</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor</p>
                    <div class="project-link">
                        <a href="#">Github <i class="bx bxl-github"></i></a>
                        <a href="#">Live Demo <i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>

            <div class="portfolio-box">
                <img src="/static/images/profile-image.png" alt="">
                <div class="portfolio-layer">
                    <h4>Web Design</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor</p>
                    <div class="project-link">
                        <a href="#">Github <i class="bx bxl-github"></i></a>
                        <a href="#">Live Demo <i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Awards & Certs section design -->
     
    <!-- contact section design -->
    <section class="contact" id="contact">
        <h2 class="heading">Contact <span>Me!</span></h2>

        <form action="#">
            <div class="input-box">
                <input type="text" placeholder="Full Name">
                <input type="email" placeholder="Email Address">
            </div>
            <div class="input-box">
                <input type="number" placeholder="Mobile Number">
                <input type="email" placeholder="Email Subject">
            </div>
            <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
            <input type="submit" value="Send Message" class="btn">
        </form>
    </section>

    <!-- footer section design -->
    <footer class="footer">
        <div class="footer-text">
            <p>Copyright &copy; 2026 by Shervie | All Rights Reserved.</p>
        </div>
        <div class="footer-iconTop">
            <a href="#home"><i class="bx bx-up-arrow-alt"></i></a>
        </div>
    </footer>

    <!-- scroll reveal -->
    <script src="https://unpkg.com/scrollreveal"></script>
    <!-- typed js  -->
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <!-- custom js -->
    <script src="/static/js/script.js"></script>
</body>
</html>