{% extends 'base.html' %}
{% block content %}

<div class="add-project-container">
    <h2>Add New <span>Project</span></h2>
    <form method="POST" enctype="multipart/form-data">
        <label>Title:</label>
        <input type="text" name="title" placeholder="Title" required><br>

        <label>Description:</label>
        <textarea name="description" placeholder="Description" required></textarea><br>

        <label>Certificate Image</label>
        <input type="file" name="image" required>

        <label>Certificate PDF</label>
        <input type="file" name="pdf" required>

        <button type="submit">Upload Certificate</button>
    </form>
</div>
{% endblock %}